<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whitebirdtechnology.medicalassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LaunchScreen.MainActivityLaunchScreen"
            android:screenOrientation="portrait"
            android:theme="@style/launchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInScreen.MainActivityLogInScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUpScreen.MainActivitySignUp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUpScreen.MainActivityOTP"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".HomeScreen.MainActivityHomeScreen" />
        <activity android:name=".ExpertFragment.ByCategoriesFragment.ListBySpecializationAndName.MainActivitySortedListByCate" />
        <activity android:name=".ChatScreen.MainActivityChat" />
        <activity android:name=".ChatScreen.BookAppointmentPage.MainActivityBookAppointment" />
        <activity android:name=".ChatScreen.BookAppointmentPage.AppointmentTime.MainActivitySetTime" />
        <activity android:name=".ExpertFragment.ByCategoriesFragment.ListBySpecializationAndName.BySpecialization.SubCategoryExpertList.MainActivitySortedListBySubCate" />
        <activity android:name=".ChatScreen.FullScreenImageChat.MainActivityFullScreenImgChat"
            android:theme="@style/fullScreenImage">
        </activity>
    </application>

</manifest>